
    .logindiv {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    body, html {
        font-size: 11px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 100%;
        background-color: rgb(245, 245, 245);
    }
    table {
        background-color: #fff
    }
    .form-signin {
        align-items: center;
        width: 100%;
        max-width: 330px;
        padding: 30px;
        margin: 0 auto;
        background-color: #555;
        border-radius: 10px;
    }
    .form-signin .checkbox {
        font-weight: 400;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin button {
        border-radius: 10px;
        padding: 14px;
    }
    .form-signin input {
        margin-bottom: 10px;
        border-radius: 10px;
    }